@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
body{
    width: 1080px;
    margin: 0 auto;
    background-color: rgb(243, 137, 137);
    height: 100%;
}
main{
    margin-bottom: 30px;
}
h1{
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-family: Comfortaa;
    font-weight: 700;
    background-color: #fff;
}
p{
    margin-bottom: 70px;
    border: 2px solid #000;
}

.hover{
    font-size: 20px;
    font-family: Merriweather;
    font-weight: 400;
    background-color: #fff;
}
.hover:hover {
    font-weight: 900;
    background-color: rgb(9, 230, 75);
}
.active{
    font-size: 20px;
    font-family: Merriweather;
    font-weight: 400;
    background-color: rgb(247, 196, 196);
}
.active:active{
    font-size: 20px;
    font-family: Comfortaa;
    font-weight: 700;
    background-color: rgb(58, 18, 202);
}
.visited-link {
    font-size: 20px;
    font-family: Arial;
    background-color: aqua;
}
.visited-link:visited {
    font-size: 20px;
    font-family: Arial;
    background-color: rgb(179, 255, 0);
}
.focus{
    font-size: 18px;
    font-family: Arial;
    font-weight: 700;
    min-height: 100px;

}
.focu1s:focus{
    border: 10px solid pink;
    border-radius: 5px;

}
.targeeet {
    background-color: aqua;
    padding: 10px;
}
.targeeet:target{
    background-color:rgb(42, 9, 230);
}
.first-child-boss {
    font-size: 20px;
    border: 3px solid #000;
    padding: 5px;
    margin-bottom: 30px;
}
.first-child-boss p:first-child {
    background-color: darkgreen;
}
.last-child-boss {
    font-size: 20px;
    border: 3px solid #000;
    padding: 5px;
    margin-bottom: 30px;
}
.last-child-boss p:last-child{
    background-color: rgb(100, 0, 87);
    color: white
}
.Any-first-child-boss {
    font-size: 20px;
    border: 3px solid #000;
    padding: 5px;
    margin-bottom: 30px;
}
.Any-first-child-boss *:first-child{
    color: #fff;
    background-color: darkturquoise;
}

.Any-last-child-boss {
    font-size: 20px;
    border: 3px solid #000;
    padding: 5px;
    margin-bottom: 30px;
}
.Any-last-child-boss *:last-child{
    color: rgb(110, 20, 20);
    background-color: rgb(128, 125, 143);
}
.first-of-type-boss {
    font-size: 20px;
    border: 6px solid rgb(15, 155, 173);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.first-of-type-boss p:first-of-type {
    background-color: deeppink;
}
.last-of-type-boss {
    font-size: 20px;
    border: 6px solid rgb(15, 155, 173);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Tahoma, sans-serif;
}
.last-of-type-boss p:last-of-type {
    background-color: rgb(228, 20, 255);
}

.nth-child-number-boss {
    font-size: 20px;
    border: 6px solid rgb(17, 216, 33);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Caveat;
    font-weight: 500;
}
.nth-child-number-boss p:nth-child(3) {
    background-color: deepskyblue;
}
.nth-child-odd-boss {
    font-size: 20px;
    border: 6px solid rgb(25, 63, 68);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Caveat;
    font-weight: 600;  
}
.nth-child-odd-boss p:nth-child(odd) {
    background-color: rgb(51, 212, 118);
}
.nth-child-even-boss {
    font-size: 20px;
    border: 6px solid rgb(36, 8, 48);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Caveat;
    font-weight: 700;  
}
.nth-child-even-boss p:nth-child(even) {
    background-color: rgb(0, 172, 72);
}
.nth-child-every-boss {
    font-size: 20px;
    border: 6px solid rgb(47, 23, 58);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Caveat;
    font-weight: 900;  
    color:rgb(247, 196, 196)
}
.nth-child-every-boss p:nth-child(3n) {
    background-color: rgb(78, 6, 24);
}
.nth-child-math-boss {
    font-size: 20px;
    border: 6px solid rgb(47, 23, 58);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Caveat;
    font-weight: 900;  
    color:rgb(247, 196, 196)
}
.nth-child-math-boss:nth-child(3n+2) {
    background-color: rgb(78, 6, 24);
}
.nth-of-type-boss {
    font-size: 20px;
    border: 6px solid rgb(47, 23, 58);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Caveat;
    font-weight: 900;  
    color:rgb(247, 196, 196)
}
.nth-of-type-boss p:nth-of-type(odd) {
    background-color: rgb(78, 6, 24);
}
.nth-of-type-not-boss {
    font-size: 20px;
    border: 6px solid rgb(47, 23, 58);
    padding: 7px;
    margin-bottom: 30px;
    font-family: Caveat;
    font-weight: 900;  
    color:rgb(247, 196, 196)
}
.nth-of-type-not-boss p:not(.nanada-dyadya) {
    background-color: darkslategray;
}
.first-line {
    font-size: 30px;
    font-family: Lobster;  
}
.first-line::first-line{
    color: #fff;
}
.first-letter {
    font-size: 30px;
    font-family: Lobster;  
    font-weight: 700;
}
.first-letter::first-letter {
    font-size: 70px;
    color: rgb(3, 58, 58);
}
.before {
    font-size: 30px;
    font-family: Lobster;  
    color:#fff;
}
.before::before {
    content: "Опа-ча я залётный текст";
    color:#000; 
}
.after {
    font-size: 30px;
    font-family: Lobster;  
    color:#fff;
}
.after::after{
    content: "Опа-ча я перелётный текст";
    color:#000; 

}
.garna-knopochka {
    padding: 30px;
    margin-bottom: 300px;
}
.garno {
    display: inline-block;
    background-color: darkslateblue;
    border: 1px solid rgb(39, 32, 41);
    padding: 25px 20px;
    font-size: 21px;
    border-radius: 35px;
    color: aliceblue;
    box-shadow: 0 7px 0 0 #000;
}
.garno:hover {
    background-color: rgb(117, 99, 235);
    color: aliceblue;
    margin: 1px 0 0 0;
    box-shadow: 0 4px 0 0 #000;
}
.garno:active {
    background-color: rgb(117, 99, 235);
    color: aliceblue;
    margin: 3px 0 0 0;
    box-shadow: inset 0 0 5px 0 #000;
   
}
.one-more-before {
    font-size: 50px;
    font-family: Arial;
    padding: 30px;
    border: none;
}
.one-more-before:before {
    content: "";
    display: block;
    height: 5px;
    width: 15%;
    background-color: #000;

}
.one-more-after {
    font-size: 50px;
    font-family: Arial;
    padding: 30px;
    border: none; 
}
.one-more-after:after{
    content: "";
    display: block;
    height: 5px;
    width: 15%;
    background-color: rgb(253, 38, 189);

}
